<!DOCTYPE html>
<html>
<head>
  <title>Assessment04</title>

  <style>
    body{
      background-image: url(http://www.highreshdwallpapers.com/wp-content/uploads/2013/01/Outer-Space-Wallpaper.jpg);
      background-size: cover;
      color: white;
      padding: 25px;
      font-family: "Helvetica Neue"
    }
    .tags{
      background-color: blue;
      max-width: 200px;
      padding-top: 1px;
      margin: 2px;
      text-align: center;
    }
    p{
      max-width: 600px;
    }
    a{
      color: red;
    }
    input[type="submit"], input[type="button"]{
      color: blue;
      margin: 10px;
      width: 100px;
      border: blue;
    }
  </style>

</head>
<body>
<% if flash %>
  <%= render "shared/flash", flash: flash %>
<% end %>
<%= yield %>

</body>
</html>
